* {
  margin: 0;
  padding: 0;
  transition: all ease 0.5;
}
@font-face {
  font-family: "action-man";
  src: url(../fonts/local-fonts/action_man-webfont.woff) format("woff"),
    url(../fonts/local-fonts/action_man-webfont.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "kaushan";
  src: url(../fonts/local-fonts/kaushanscript-regular-webfont.woff)
      format("woff"),
    url(../fonts/local-fonts/kaushanscript-regular-webfont.woff2)
      format("woff2");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: kaushan;
  background: #e39ec1;
}

h1 {
  font-size: 50px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}
button {
  padding: 10px;
  color: white;
  border: none;
  width: 150px;
  border-radius: 10px;
  font-family: action-man;
  font-size: 18px;
}
#yes {
  background-color: #226f54;
}

#no {
  background-color: #da2c38;
}
.buttons {
  display: flex;
  gap: 20px;
}
#reject {
  color: red;
  font-family: action-man;
  font-size: 40px;
  text-align: center;
}
img {
  height: 300px;
}
